header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;;
  align-items: center;
  margin-bottom: 20px
}
 .logo h3{
   color: MediumAquamarine;
   display: inline-block;
   align-content: center;
 }
 /*.logo img{ */
}
.navigation{
   justify-content: flex-end;
   display: inline-block;
   color: black;
 }
 .container{
   display: flex;
   justify-content: space-around;
   border: 1px solid black;
   align-items: flex-end;
   margin-top: 30px;
 }
 .main-column-1{
   width: 630px;
   border: 1px solid black;
 }
 .main-column-2{
   width: 300px;
   border: 1px solid black;
 }
 .main-column-3{
   width: 240px;
   border: 1px solid black;
 }
 .row-1{
   border: 1px solid black;
}
.row-mother{
  border: 1px solid black;
  display: flex;
}
.orca{
  border:1px solid black;
}
.row-2{
  border: 1px solid black;

}
.row-earth{
  display: flex;
  border: 1px solid black;
}
.row-3{
  border: 1px solid black;
}
.burger{
  border: 1px solid black;
}
.row-cameras{
  display: flex;
  border: 1px solid black;
}



.second-row-1{
  border: 1px solid black;
}
.second-row-2{
  border: 1px solid black;
}
.row-cats{
  display: flex;
  border: 1px solid black;
  background-image: url("../images/img-story-1");
}


.bites{
  border: 1px solid black;
}
